<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thông tin chung cư</title>
  <link rel="stylesheet" type="text/css" href="apartment.css">
  <form>
    <h2>Thêm chung cư</h2>
    
    <label for="id">Mã chung cư:</label>
    <input type="text" id="id" id="id"><br>
    <label for="name">Tên chung cư:</label>
    <input type="text" id="name" name="name"><br>
    <label for="address">Địa chỉ:</label>
    <input type="text" id="address" address="address"><br>
    <button type="submit">Thêm</button>
  </form>


</head>

<body>
	<div class="container">
		<h1>Thông tin chung cư</h1>
		<table>
			<thead>
				<tr>
					<th>Mã chung cư</th>
					<th>Tên chung cư</th>
					<th>Địa chỉ</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>CC001</td>
					<td>Chung cư A</td>
					<td>123 Đường A, Quận 1, TP. HCM</td>
					<td><a href="#" class="btn">Sửa</a></td>
					<td><a href="#" class="btn">Xóa</a></td>
				</tr>
				<tr>
					<td>CC002</td>
					<td>Chung cư B</td>
					<td>456 Đường B, Quận 2, TP. HCM</td>
					<td><a href="#" class="btn">Sửa</a></td>
					<td><a href="#" class="btn">Xóa</a></td>
				</tr>
				<tr>
					<td>CC003</td>
					<td>Chung cư C</td>
					<td>789 Đường C, Quận 3, TP. HCM</td>
					<td><a href="#" class="btn">Sửa</a></td>
					<td><a href="#" class="btn">Xóa</a></td>
</html>