<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thông tin căn hộ</title>
  <link rel="stylesheet" type="text/css" href="condominum.css">
  <form>
    <h2>Thêm căn hộ</h2>
    
    <label for="id">Mã căn hộ:</label>
    <input type="text" id="id" id="id"><br>
    <label for="numberOfRooms">Số phòng:</label>
    <input type="integer" id="numberOfRooms" numberOfRooms="numberOfRooms"><br>
    <label for="area">Diện tích(m2):</label>
    <input type="number" id="area" area="area" step="0.01"><br>
    <label for="price">Giá:</label>
    <input type="number" id="price" price="price" step="0.01"><br>
    
    <button type="submit">Thêm</button>
  </form>


</head>

<body>
	<div class="container">
		<h1>Thông tin căn hộ</h1>
		<table>
			<thead>
				<tr>
					<th>Mã căn hộ</th>
					<th>Số phòng</th>
					<th>Diện tích(m2)</th>
					<th>Giá</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1001</td>
					<td>2</td>
					<td>20</td>
					<td>200000000</td>
					<td><a href="#" class="btn">Sửa</a></td>
					<td><a href="#" class="btn">Xóa</a></td>
				</tr>
				<tr>
					<td>1002</td>
					<td>3</td>
					<td>30</td>
					<td>500000000</td>
					<td><a href="#" class="btn">Sửa</a></td>
					<td><a href="#" class="btn">Xóa</a></td>
				</tr>
				<tr>
					<td>2001</td>
					<td>3</td>
					<td>30</td>
					<td>500000000</td>
					<td><a href="#" class="btn">Sửa</a></td>
					<td><a href="#" class="btn">Xóa</a></td>
</html>